@media (min-width: 40em) {
    .creations-list {
        grid-template-rows: repeat(2, 450px);
        grid-template-columns: repeat(auto-fill, minmax(256px, 1fr));
    }

    .footer-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}


@media (max-width: 70em) {
    .container {
        padding: 0 5%;
    }

    .wrapper {
        text-align: center;
    }

    .text-block {
        width: 100%;
        position: static;
        padding: 0;
        text-align: center;
        margin: 0 auto;
    }

}

/* STYLES FOR MOBILE SCREEN SIZES */
@media (max-width: 40em) {
    #creations .wrapper {
        justify-content: center;
    }

    /* HEADER SECTION STYLES */
    header {
        height: 100vh;
        background-image: url('images/mobile/image-hero.jpg');
        padding: 50px 0;
    }

    .menu-list {
        flex-direction: column;
    }

    .menu-btn {
        display: block;
    }

    .navbar-collapse {
        overflow: hidden;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 0;
        background-color: #000;
        transition: width .5s ease;
    }

    .navbar-collapse[aria-expanded="true"] {
        width: 100%;
        padding: 5%;
    }

    .navbar-collapse .menu-list {
        margin-top: 45%;
    }

    .navbar-collapse .menu-item {
        font-family: 'Josefin Sans', sans-serif;
        font-size: 1.5rem;
    }

    .navbar-collapse .menu-link {
        text-transform: uppercase;
        color: hsl(0, 0%, 55%);
    }

    .btn-mobile {
        display: block;
    }

    .btn-desktop {
        display: none;
    }


    /* FOOTER */
    .footer-grid {
        justify-items: center;
    }

    .social-icons {
        grid-row-start: 3;
        grid-row-end: 4;
    }

    .footer-grid .menu-list .menu-item {
        text-align: center;
    }
}