@import url('https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap');

/* GLOBAL STYLES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 15px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
}

li, p {
    font-family: 'Alata', sans-serif;
}

header {
    background-image: url('images/desktop/image-hero.jpg');
    background-size: cover;
    padding: 70px 0 140px;
}

/* CONTAINERS */
.container {
    width: 100%;
    max-width: 1114px;
    margin-inline: auto;
}

.wrapper {
    position: relative;
}

footer {
    padding: 45px 0;
}

/* UTILITY CLASSES */
.d-flex {
    display: flex;
}

.align-items-center {
    align-items: center;
}

.space-between {
    justify-content: space-between;
}

.btn {
    border: 0;
    background-color: transparent;
    cursor: pointer;
}


/* NAVBAR STYLES */
.menu {
    margin-bottom: 7rem;
}

.logo {
    position: relative;
    z-index: 100;
}

.menu-btn {
    display: none;
    position: absolute;
    width: 30px;
    height: 20px;
    background-image: url('images/icon-hamburger.svg');
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 100;
    right: 5%;
}

.navbar-collapse[aria-expanded="true"] ~ .menu-btn {
    background-image: url('images/icon-close.svg');
}

.menu-list {
    list-style: none;
    gap: 30px;
}

.menu-link {
    text-decoration: none;
    color: #fff;
    background-image: linear-gradient(#fff, #fff);
    background-repeat: no-repeat;
    background-position: 50% 100%;
    background-size: 0% 2px;
    padding-bottom: 10px;
    transition: all .3s ease;
}

.menu-link:hover {
    background-size: 50% 2px;
}


/* HEADINGS */
.big-heading {
    width: 100%;
    max-width: 650px;
    border: 2px solid #fff;
    color: #fff;
    font-size: clamp(2.5rem, 2.1127vw + 1.9718rem, 4rem);
    text-wrap: balance;
    padding: 2rem;
}

.section-title {
    font-size: clamp(1.5rem, 0.9718rem + 2.1127vw, 3rem);
    margin-block: 30px;
}


/* ABOUT SECTION STYLES */
#about {
    padding: clamp(5rem, 3.9437rem + 4.2254vw, 8rem) 0px;
}

.about-img {
    width: 100%;
    max-width: 730px;
}

.text-block {
    max-width: 550px;
    padding-top: 5rem;
    padding-left: 5rem;
    background-color: #fff;
    position: absolute;
    bottom: 0;
    right: 0;
}

.text {
    font-size: 17px;
    font-weight: 500;
    color: hsl(0, 0%, 55%);
    line-height: 1.5;
}


/* CREATION SECTION STYLES */
#creations {
    padding-bottom: clamp(5rem, 3.9437rem + 4.2254vw, 8rem);
}

.creations-list {
    display: grid;
    gap: 30px;
    margin-top: 50px;
}

.creation-item {
    position: relative;
    cursor: pointer;
}

.creation-item img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: opacity .3s ease-out;
}

.creation-item:hover img {
    opacity: 0.4;
}

.creation-item:hover .creation-title {
    color: #000;
}

.creation-title {
    position: absolute;
    bottom: 30px;
    left: 30px;
    color: #fff;
    font-size: 1.5rem;
    text-align: left;
}

.btn-black {
    padding: 10px 40px;
    background-color: #fff;
    border: 2px solid hsl(0, 0%, 41%);
    border-radius: 3px;
    font-size: 16px;
    text-transform: uppercase;
    transition: all .2s ease;
}

.btn-black:hover {
    color: #fff;
    background-color: #000;
}

.btn-mobile {
    display: none;
    margin: 30px auto;
}


/* FOOTER SECTION STYLES */
footer {
    background-color: #000;
}

.footer-grid {
    display: grid;
    gap: 20px;
}

.social-icons, .copyright-text {
    text-align: right;
}

.social-icons a + a {
    margin-left: 15px;
}

.copyright-text {
    color: hsl(0, 0%, 41%);
}


.attribution {
    text-align: center;
    font-size: 1.2rem;
    color: #fff;
    margin-top: 30px;
}

.attribution a {
    color: #fff;
}